* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  padding: 0;
  margin: 0;
}

body, html{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

#header {
  background-image: url("img/sofa.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 90%;
  height: 100vh;
  color: white;
}

.banner {
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
  margin-top: 50vh;
  margin-left: auto;
  margin-right: auto;
}

.banner-text-primary {
  padding: 0;
  margin: 0;
  font-size: 5vh;
  text-align: center;
}

.banner-text-secondary {
  padding: 0;
  margin: 0;
  font-size: 3vh;
  font-style: italic;
  text-align: right;
}

.about-title-text{
  padding: 0;
  margin: 40px 0px 40px;
  text-align: center;
  font-weight: bold;
}

.about-content{
  margin: 0 20px 45px;
  text-align:center;
}

.about-title  {
 width: 100%;
 margin: 0;
 padding: 0;
}

.about-title > div {
  width: 100%;
}

.about-content-bordered{
  border: 2px solid #141045;
  padding: 20px;
  margin: 0 auto;
}

.about-content-bordered > p{
  text-align: center;
  padding: 0;
  margin: 0;
}

.offer{
  background-color: #141045;
  color: white;
}
.offer-title-text{
  padding: 0;
  margin: 40px 0px 40px;
  text-align: center;
  font-weight: bold;
}

.offer-content-img{
  width: 100%;
}

.offer-content-text{
  margin: 20px;
  text-align: center;
}

.offer-content-text > h4 {
  font-weight: bold;
}

.gallery {
  color: #141045;
  padding-bottom: 25px;
}

.contact{
  height: auto;
  background-color: #141045;
  padding-bottom: 25px;
}

.gallery-title-text, .contact-title-text{
  font-weight: bold;
  text-align: center;
  margin: 40px 0 40px;
}

.contact-title-text{
  color: white;
}

.contact-content-text > div >p{
  color: white;
  text-align: center;
  line-height: 10px;
}


@media screen and (max-width: 767px) {
  .contact-content-text{
    padding:0 30px 0;
  }

  .contact-content-czech{
    border-top: 2px solid white;
    padding-top: 20px;
  }
}

.carousel{
  margin-top: 25px;
}

@media screen and (orientation: portrait) {
  .carousel-inner, .carousel-item {
    max-height: 100%;
  }
}

@media screen and (orientation: landscape) {
  .carousel-inner, .carousel-item {
    max-height: 75vh;
  }
}

.galleryImage{
  width:100%;
  margin:0 auto;
}
